*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    color:black;
    font-family: 'Poppins', sans-serif;
   
   
}


header{
    position: sticky;
    top: 0px;
    z-index: 3;
    
}
.container{
    width: 90%;
}

#header-nav {
    background-color: white;
 
    border-radius: 0;
    border: 0;
    margin-top: 10px;
    width: 100%;
}
#nav-list{
    margin-top: 10px;
}
#nav-list a{
    color: rgb(2, 2, 2);
    text-align: center;
    background: transparent;
    font-size: 16px;
}
#nav-list a:hover{
    font-size: 15px;
    text-decoration: underline;
}
#nav-list a span{
    font-size: 1.8em;
}
.navbar-brand a{
    text-decoration: none;
}
.navbar-brand h1{
    background-color: white;
    font-weight: 700;
    color: black;
    font-size: 25px;
    margin: 0px;
    text-decoration: none;
}
.page21{
    width: 100%;
    height: 100vh;
    background-color: aqua;
}

.svga{
    margin-top: 250px;
    position: relative;
    width: 60%;
}
.svga svg{
    position: absolute;
    left: 0px;
}
.pageform{
    position: absolute;
    width: 20%;
    margin-top: 50px;
    padding: 20px;
    top: 20%;
    left: 60%;
    box-shadow: 0 0 20px black;
   background-color: white;
    height: 60vh;
    border-radius: 5px;
}
.pageform h1{
    font-weight: bold;
    text-align: center;
    margin: 10px;
    font-size: 40px;
    margin-bottom: 30px;
    /* font-family: 'Russo One', sans-serif; */

    
    
}
.pageform form{
    text-align: center;
    
}
form p{
    font-weight: 700;
    margin-top: 30px;
}
form a{
    margin-left: 20px;
}

form input{
    width: 100%;
    padding: 5px;
    
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid black;
    outline: none;
}

button{
    width: 50%;
    height: 40px;
    font-size: 25px;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 20px;

}


@keyframes gg{
    from{
        font-weight: 0;
        
    }
    to{
        font-weight: 700;
       
    }
}

#person1{
   animation: p1 5s ease-in-out infinite alternate;
   transform-origin: center;
   filter: grayscale();
   box-shadow: 5px blue;
  
  
}
#person2{
    filter: grayscale();
}
#person3{
   animation: p3 2s ease-in-out infinite alternate;
   transform-origin: left;
   filter: grayscale();
}

@keyframes p1{
    from{
            transform: rotateZ(0deg);
       }
    to{ 
      transform: rotateZ(10deg);
    }
}
@keyframes p3{
    from{
     transform: rotateY(0deg);
    }
    to{
     transform: rotateY(10deg);
    }
}

#person3:hover,#person2:hover,#person1:hover{
   filter: none;
}